.btn {

}

.btn--principal {
    background-color:;

    &:hover {
        background-color:;
    }
}

.btn--secundary {
    background-color:;

    &:hover {
        background-color:;
    }
}

.btn--small {
    
}

.btn--invert {

    &:hover {
       
    }
}