//fonts
$font-family-base:;
$font-family-contrast:;

//colores



// Inside components
$space-base: 1rem;
$space-small:;
$space-medium:;
$space-large:;
$space-x-large:;
$space-xx-large:;
$space-xxx-large:;

// Between components
$space-out-small:;
$space-out-medium:;
$space-out-large:;
$space-x-out-large:;
$space-xx-out-large:;
$space-xxx-out-large:;
