//fonts
$font-family-base:1;
$font-family-contrast:1;

//colores



// Inside components
$space-base: 1rem;
$space-small:1;
$space-medium:1;
$space-large:1;
$space-x-large:1;
$space-xx-large:1;
$space-xxx-large:1;

// Between components
$space-out-small:1;
$space-out-medium:1;
$space-out-large:1;
$space-x-out-large:1;
$space-xx-out-large:1;
$space-xxx-out-large:1;
