//fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-contrast:'Raleway', sans-serif;

//fontweight

$bold: bold;
$thin: 300;
//colors

$gray: #5f5f5f;
$light-gray: #F5F6F6;
$turquoise: #3ABFB8;

// Inside components
$space-base: 1rem;
$space-small: 2rem;
$space-medium: 3rem;
$space-large: 4rem;
$space-x-large: 5rem;
$space-xx-large: 6rem;
$space-xxx-large: 7rem;
